.okp-core-header {
  background-color: var(--okp-light);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: var(--okp-text-low);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: $htopbar;
  position: relative;
  z-index: 10;

  button {
    background: transparent;
    border: none;
    color: inherit;
    opacity: 0.6;
    transition: opacity 0.3s;
    padding: 0;
    margin: 0;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .okp-brand {
    text-decoration: none;
    display: flex;
    flex: 0 0 200px;
    flex-direction: row;
    align-items: center;
    transition: opacity 0.3s;
    margin: 0 50px 0 0;

    .okp-logo {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: $wnavbar;
      height: $htopbar;
    }

    .okp-name {
      font-size: 1.1rem;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 0 16px;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:active {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .okp-menu {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    ul {
      list-style: none;
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;

        .okp-toggle-leftbar {
          margin: 0 24px 0 0;
        }

        .okp-toggle-submenu {
          padding: 0 24px;
        }

        a {
          color: inherit;
          display: block;
          opacity: 0.6;
          transition: opacity 0.3s;
          padding: 12px 24px;

          &:hover {
            cursor: pointer;
            opacity: 1;
          }

          &:active {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .okp-notifications {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    ul {
      list-style: none;
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: inline-block;
        padding: 0 6px;
        margin: 0;

        button {
          display: block;
          height: $htopbar;
          opacity: 0.6;
          transition: opacity 0.3s;
          padding: 0 16px;

          &:hover {
            cursor: pointer;
            opacity: 1;
          }

          &:active {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .okp-unauthuser {
    > ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      margin: 0;

      > li {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 12px;
        margin: 0;

        > a {
          display: flex;
          flex-direction: row;
          align-items: center;

          .okp-nearicon {
            padding: 0 0 0 12px;
          }

          &.okp-login {
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 6px;
            color: var(--okp-text-low);
            opacity: 0.6;
            transition: opacity 0.3s;
            padding: 6px 20px;

            &:hover {
              opacity: 1;
            }

            &:active {
              opacity: 0.5;
            }
          }

          &.okp-signup {
            background-color: var(--okp-light);
            border: 2px solid var(--okp-light);
            border-radius: 6px;
            color: var(--okp-text-low);
            opacity: 0.8;
            transition: opacity 0.3s;
            padding: 6px 20px;

            &:hover {
              opacity: 1;
            }

            &:active {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
