// core/leftbar

.okp-core-leftbar {
  background-color: $mid;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: $wnavbar;
  height: calc(100vh - $htopbar);

  .okp-navigation,
  .okp-navigation li {
    list-style: none;
    padding: 0;
    margin: 0;

    > a {
      background-color: $mid;
      border-radius: 6px;
      color: $lighten;
      display: flex;
      align-items: center;
      min-width: 24px;
      min-height: 24px;
      transition: background-color 0.3s, color 0.3s;
      padding: 12px;
      margin: 24px 0;

      .okp-link-name {
        color: $lighten;
        font-size: 0;
        line-height: 0;
        display: none;
        transition: color 0.3s, font-size 0.3s;
        margin: 0 0 0 12px;
      }

      &:hover, &:focus {
        background-color: $light;
        color: $primary;

        .okp-link-name {
          color: $text;
        }
      }

      &:active {
        color: $text;

        .okp-link-name {
          color: $light;
        }
      }
    }
  }

  &.okp-open {
    width: 250px;

    .okp-navigation,
    .okp-navigation li {
      display: block;
      width: calc(100% - 24px);

      > a {
        flex: 1 1 100%;
        width: 100%;
      }

      .okp-link-name {
        font-size: 0.9rem;
        line-height: 120%;
        display: inline-block;
      }
    }
  }
}
