.okp-grid {
  display: block;
  max-width: 1024px;
  padding: 0 12px;
  margin: 0 auto;

  @media (max-width: 1439px) {
    max-width: 1024px;
  }

  @media (max-width: 1279px) {
    max-width: 768px;
  }

  @media (max-width: 1023px) {
    max-width: 600px;
  }

  @media (max-width: 767px) {
    max-width: 480px;
  }

  @media (max-width: 599px) {
    max-width: 90%;
  }
}