.okp-heading {
  &::after {
    content: "";
    background-color: var(--okp-primary);
    display: block;
    width: 64px;
    height: 2px;
    margin: 24px 0 32px;
  }

  &-title {
    color: var(--okp-fg);
    font-family: var(--okp-font-family-heading);
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }

  &-description {
    color: var(--okp-fg-subtle);
    margin: 0.5rem 0.1em;

    p {
      font-size: 1rem;
    }
  }
}
