---
import MainLayout from "@/layouts/MainLayout.astro";

const { api } = Astro.locals;
const { slug } = Astro.props;

let hasError = null;
let game = null;

async function getGame () {
  try {
    const response = await fetch(`${api}/games/${slug}/`);
    if (response.ok) {
      game = await response.json();
    } else {
      throw new Error("Failed to fetch data");
    }
  } catch {
    hasError = true;
  }
};

await getGame();

---

<MainLayout>
  {!hasError && game ? (
    <section class="okp-game">
      <header class="okp-game-header">
        <h1 class="okp-game-header-title">{game.name}</h1>
      </header>
      <slot />
    </section>
  ) : (
    <div>an error occurred</div>
  )}
</MainLayout>
