.okp-button {
  @include okp-card;
  font-family: "Quicksand", "Noto Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 120%;
  width: auto;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0;
  transition: filter 0.3s, opacity 0.2s;

  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    pointer-events: none;
  }

  .okp-btn-loading {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    z-index: 2;
  }

  &.okp-isloading {
    pointer-events: none;

    .okp-btn {
      opacity: 0.2;
    }
  }

  .okp-btn {
    border: 1px solid transparent;
    border-radius: var(--okp-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    filter: brightness(3);
    padding: 10px 24px;

    &-start {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 12px 0 0;
    }

    &-mid {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    &-end {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 0 12px;
    }
  }
}

.okp-button:not([disabled]) {
  color: var(--okp-text-low);

  &.okp-isloading {
    &::before {
      content: "";
      background-color: var(--okp-card);
      border-radius: var(--okp-radius);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0.3;
    }
  }

  &.okp-default {
    background-color: var(--okp-card);

    .okp-btn {
      color: var(--okp-text);
      filter: brightness(1);
    }

    &-outline .okp-btn {
      border-color: var(--okp-text);
    }
  }

  &.okp-primary {
    background-color: var(--okp-primary);

    .okp-btn {
      color: var(--okp-primary);
    }

    &-outline .okp-btn {
      border-color: var(--okp-primary);
    }
  }

  &.okp-secondary {
    background-color: var(--okp-secondary);

    .okp-btn {
      color: var(--okp-secondary);
    }

    &-outline .okp-btn {
      border-color: var(--okp-secondary);
    }
  }

  &.okp-success {
    background-color: var(--okp-success);

    .okp-btn {
      color: var(--okp-success);
    }

    &-outline .okp-btn {
      border-color: var(--okp-success);
    }
  }

  &.okp-warning {
    background-color: var(--okp-warning);

    .okp-btn {
      color: var(--okp-warning);
    }

    &-outline .okp-btn {
      border-color: var(--okp-warning);
    }
  }

  &.okp-danger {
    background-color: var(--okp-danger);

    .okp-btn {
      color: var(--okp-danger);
    }

    &-outline .okp-btn {
      border: 1px solid var(--okp-danger);
    }
  }
}

.okp-button:disabled {
  background-color: var(--okp-dark);
  border: none;

  .okp-btn {
    color: var(--okp-text-low);
    opacity: 0.3;
  }

  &.okp-default-outline .okp-btn {
    border-color: var(--okp-mid);
  }
}
