.okp-header {
  padding: 32px 0 12px;
  margin: 0;

  &-titles {
    position: relative;
    padding: 0 0 28px;

    &::after {
      content: "";
      background-color: var(--okp-primary);
      display: block;
      width: 32px;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 12px;
    }
  }

  &-title {
    color: var(--okp-text);
    font-family: "Quicksand", sans-serif;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 120%;
    padding: 0;
    margin: 0;

    &-link {
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }

  &-subtitle {
    color: var(--okp-text-low);
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1px;
    padding: 12px 0 6px 2px;
    margin: 0;
  }
}
