.okp-loading {
  border: 3px solid var(--okp-light);
  border-top: 3px solid var(--okp-primary);
  border-left: 3px solid var(--okp-lighten);
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
