# Astro
dist/
.astro/

# Vite
.vite/

# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
build/

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.development
.env.test
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Typescript
*.tsbuildinfo
next-env.d.ts

# Logs
logs
*.log

# Cache
.cache/
.mf/
.rollup.cache/
tsconfig.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz
