---
import "@/assets/styles/demo.scss";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <meta name="description" content="Demo." />
    <meta name="author" content="mcpronovost" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body id="okp">
    <header id="okp-core-head">
      <span>header</span>
      <span>header</span>
    </header>
    <div id="okp-core-body">
      <navbar id="okp-core-sideleft">
        <span>nav</span>
        <span>nav</span>
      </navbar>
      <main id="okp-core-main">
        main
      </main>
      <navbar id="okp-core-siderigh">
        <span>nav</span>
        <span>nav</span>
      </navbar>
    </div>
  </body>
</html>
