HOST=0.0.0.0
PORT=8000

# Vite
VITE_PORT=3000
VITE_PROTOCOL=http
VITE_DOMAIN=localhost
VITE_NODE_ENV=development

# Django
DJANGO_DEBUG=True
DJANGO_SECRET=secret_key
DJANGO_ADMIN_NAME=Admin
DJANGO_ADMIN_EMAIL=admin@example.com

# Database
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=dbname
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=dbpass
DATABASE_URL=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailpit
EMAIL_PORT=1025
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_TLS=False
EMAIL_FROM=Admin <noreply@example.com>
