HOST=0.0.0.0
PORT=8000

# Astro
NODE_ENV=development
ASTRO_LANGUAGE=fr
ASTRO_PORT=3000

# Django
DEBUG=True
SECRET_KEY=SECRET_KEY
ADMIN_NAME=ADMIN_NAME
ADMIN_EMAIL=admin@example.ca

# Database
DATABASE_CLIENT=django.db.backends.postgresql
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=DATABASE_NAME
DATABASE_USERNAME=DATABASE_USERNAME
DATABASE_PASSWORD=DATABASE_PASSWORD

# Elasticsearch
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

# Email
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USERNAME=example@example.ca
SMTP_PASSWORD=PASSWORD
