# Virtual environment
.venv/
.env

# Database and static files
*.sqlite3
oykus/backend/data/

# Vite
package-lock.json
node_modules/
build/
dist/
dist-ssr/
.vite/
.expo/
*.local

# Editor directories and files
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Caches
.pytest_cache/
__pycache__/
