# environment
.env
.venv
.vscode

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# build output
.next/
dist/
static/

# generated types
.astro/
frontend-demo/
frontend-next/

# dependencies
node_modules
node_modules/
package-lock.json

# db
*.sqlite3
media/
dbdata/
