.okp-game {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 48px);
  align-items: center;
  justify-content: flex-start;

  &-header {
    flex: 0 0 auto;
    width: 100%;
  }

  &-main {
    flex: 1 1 auto;
    width: 100%;
  }

  &-footer {
    flex: 0 0 auto;
    width: 100%;
  }
}