[MAIN]

ignore=migrations,settings.py

load-plugins=
    pylint.extensions.check_elif,
    pylint.extensions.bad_builtin,
    pylint.extensions.for_any_all,
    pylint.extensions.set_membership,
    pylint.extensions.code_style,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.comparison_placement,
    pylint_django,

fail-under=10

disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-many-locals,
    duplicate-code,
