{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'fr' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page_title %}{{ page_title }} - {% endif %}Oykus</title>
    <meta name="description" content="{{ page_description|default:'Là où tout joueur est à la fois auteur et aventurier.' }}" />
    <link rel="icon" type="image/x-icon" href="{{ page_favicon|default:'http://localhost:5173/vite.svg' }}" />
    <script type="module">
      import RefreshRuntime from "http://localhost:5173/@react-refresh";
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.jsx"></script>
    <script id="okp-init" type="application/json">
      {{ initial_data|safe }}
    </script>
    {% if theme %}
      <script id="okp-theme" type="application/json">
        {{ theme|safe }}
      </script>
      <style>
        #okp {
          --c-primary: {{ theme.primary }};
          --okp-core-header-bg: {{ theme.core_header_bg|default:"#435259" }};
        }
      </style>
    {% endif %}
  </head>
  <body>
    <div id="okp"></div>
  </body>
</html>
