#okp-core-header {
  background-color: var(--okp-secondary);
  color: var(--okp-tertiary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: $htopbar;
  position: relative;
  z-index: 10;

  .okp-brand {
    color: var(--okp-tertiary);
    display: block;
    width: 250px;
    height: $htopbar;

    &-link {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 120px;
      height: $htopbar;
    }

    &-logo {
      font-size: 0;
      line-height: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: $htopbar;
    }

    &-name {
      font-family: "Quicksand", "Noto Sans", sans-serif;
      font-weight: 600;
    }
  }

  .okp-toggle-navbar {
    &-btn {
      background: transparent;
      color: var(--okp-tertiary);
      border: none;
      width: $htopbar;
      height: $htopbar;
      opacity: 0.6;
      padding: 0;
      margin: 0;
      transition: opacity 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  .okp-menu {
    padding: 0 16px;

    > ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      > li {
        padding: 0 6px;
      }
    }

    &-link {
      color: var(--okp-tertiary);
      font-family: "Quicksand", "Noto Sans", sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: $htopbar;
      display: block;
      height: $htopbar;
      opacity: 0.6;
      padding: 0 12px;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .okp-space {
    flex: 1 1 auto;
  }

  .okp-notifications {
    position: relative;
    padding: 0 16px;

    &::before,
    &::after {
      content: "";
      border-color: var(--okp-tertiary);
      border-style: solid;
      border-width: 0;
      position: absolute;
      top: 12px;
      bottom: 12px;
      opacity: 0.4;
    }

    &::before {
      border-left-width: 1px;
      left: 0;
    }

    &::after {
      content: "";
      border-right-width: 1px;
      right: 0;
    }

    > ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      > li {
        padding: 0 6px;
      }
    }

    &-btn {
      background: transparent;
      border: none;
      color: var(--okp-tertiary);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: $htopbar;
      height: $htopbar;
      opacity: 0.6;
      padding: 0;
      margin: 0;
      transition: opacity 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  .okp-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    &-name {
      flex: 1 1 250px;
      padding: 0 12px 0 32px;
    }

    &-avatar {
      display: flex;
      flex: 0 0 64px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: $htopbar;

      &-img {
        border-radius: 50%;
        overflow: hidden;
      }

      &-initial {
        background-color: var(--okp-dark);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        > span {
          color: var(--okp-text-low);
          font-family: "Cinzel Decorative", "Quicksand", "Noto Sans", sans-serif;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 120%;
          cursor: default;
          transition: font-size 0.3s;
        }
      }
    }
  }
}
