---
import "@/assets/vendors/simplebar/simplebar.css";
import "@/assets/css/main.scss";
import OkpCoreHeader from "@/components/core/Header.astro";
import OkpCoreLeft from "@/components/core/Left.astro";
import OkpCoreRight from "@/components/core/Right.astro";
import OkpToaster from "@/components/react/common/Toaster";

const { lang } = Astro.params;
const { user } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Oykus</title>
        <meta name="description" content="A web-based collaborative storytelling platform where players can craft unique universes, develop rich characters, and embark on epic quests together. Through the power of collective imagination, every story becomes an unforgettable journey." />
        <meta name="author" content="M-C Pronovost" />
        <meta name="generator" content={Astro.generator} />
        <!-- Favicon -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <!-- --- -->
    </head>
    <body id="okp">
        <OkpCoreHeader user={user} />
        <main id="okp-core-main">
            <OkpCoreLeft />
            <div id="okp-core-content" role="main">
                <slot />
            </div>
            <OkpCoreRight />
        </main>
        <OkpToaster client:only="react" />
    </body>
</html>

<script>
  import { SimpleBar } from "@/assets/vendors/simplebar/simplebar.min.js";

  document.addEventListener("DOMContentLoaded", () => {
    const mainElement = document.getElementById("okp-core-content");

    if (mainElement) new SimpleBar(mainElement);
  });
</script>
