<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Oykus</title>
        <meta name="description" content="A web-based collaborative storytelling platform where players can craft unique universes, develop rich characters, and embark on epic quests together. Through the power of collective imagination, every story becomes an unforgettable journey." />
        <meta name="author" content="M-C Pronovost" />
        <meta name="generator" content={Astro.generator} />
        <!-- Favicon -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <!-- --- -->
    </head>
    <body>
        <slot />
    </body>
</html>
