:root {
    --okp-font-family: "Open Sans", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    --okp-bg: #0f0f0f;
    --okp-core: #060606;
    --okp-core-dark: #020202;
    --okp-core-light: #141414;
    --okp-text: #8a8a8a;
    --okp-text-dark: #484848;
    --okp-text-light: #cccccc;

    --okp-primary: #89a411;

    --okp-scrollbar: rgba(255, 255, 255, 0.1);
    --okp-core-header: var(--okp-core-dark);
    --okp-core-header-text: var(--okp-text);
    --okp-core-navbar: var(--okp-core);
    --okp-core-navbar-text: var(--okp-text);
    --okp-core-sidebar: var(--okp-core);
    --okp-core-sidebar-text: var(--okp-text);
}

:root {
    body {
        --okp-bg: #1e2329;
        --okp-core: #252b33;
        --okp-core-dark: #1e2329;
        --okp-core-light: #2d343d;
        --okp-text: #8b8f92;
        --okp-text-dark: #52575d;
        --okp-text-light: #f0f1f2;

        --okp-primary: #1991eb;

        --okp-scrollbar: rgba(255, 255, 255, 0.06);
        --okp-core-header: var(--okp-bg);
        --okp-core-header-text: var(--okp-text);
        --okp-core-navbar: var(--okp-core);
        --okp-core-navbar-text: var(--okp-text);
        --okp-core-sidebar: var(--okp-core);
        --okp-core-sidebar-text: var(--okp-text);
    }

    body {
        --okp-bg: #010409;
        --okp-core: #0d1117;
        --okp-core-dark: #010409;
        --okp-core-light: #161b22;
        --okp-text: #7d8590;
        --okp-text-dark: #51575f;
        --okp-text-light: #e6edf3;
        --okp-line: #21262d;

        --okp-primary: #89a411;

        --okp-scrollbar: rgba(255, 255, 255, 0.06);
        --okp-core-header: var(--okp-bg);
        --okp-core-header-text: var(--okp-text);
        --okp-core-navbar: var(--okp-core);
        --okp-core-navbar-text: var(--okp-text);
        --okp-core-sidebar: var(--okp-core);
        --okp-core-sidebar-text: var(--okp-text);
    }
}
