:root {
    --okp-bg: #0f0f0f;
    --okp-core: #060606;
    --okp-core-dark: #020202;
    --okp-core-light: #141414;
    --okp-text: #8a8a8a;
    --okp-text-dark: #484848;
    --okp-text-light: #cccccc;

    --okp-primary: #89a411;

    --okp-scrollbar: rgba(255, 255, 255, 0.1);
    --okp-core-header: var(--okp-core-dark);
    --okp-core-header-text: var(--okp-text);
    --okp-core-navbar: var(--okp-core);
    --okp-core-navbar-text: var(--okp-text);
    --okp-core-sidebar: var(--okp-core);
    --okp-core-sidebar-text: var(--okp-text);
}

:root {
    #okp-rpg-qalatlan {
        --okp-bg: #c9cfd1;
        --okp-core: #dbe0e2;
        --okp-core-dark: #435259;
        --okp-core-light: #7a8489;
        --okp-text: #7a8489;
        --okp-text-dark: #7a8489;
        --okp-text-light: #7a8489;

        --okp-primary: #d3b018;

        --okp-scrollbar: rgba(0, 0, 0, 0.1);
    }
}
