---
import type { Game } from "@/types/games.types";

interface Props {
  game: Game;
}

const { game }: Props = Astro.props;
---

<li class="okp-games-list-card">
  <a class="okp-games-list-card" href={`/g/${game.slug}/`}>
    <h2>{game.name}</h2>
  </a>
</li>
