---
// core head
---

<header id="okp-core-head">
  <section id="okp-branding">
    <a href="/">
      <span itemprop="name">Oykus</span>
    </a>
  </section>
  <section>
    <nav>
      <ul>
        <li>
          <a href="/">About</a>
        </li>
        <li>
          <a href="/">FAQ</a>
        </li>
        <li>
          <a href="/">More</a>
        </li>
      </ul>
    </nav>
  </section>
  <section>space</section>
  <section>notifications</section>
  <section>user</section>
</header>
