---
import { Image } from "astro:assets";
import imgLogo from "@/assets/img/oykus-32.png";

import { House } from 'lucide-astro';
---

<header id="okp-core-head">
  <section class="okp-branding">
    <a href="/" class="okp-branding-link">
      <div class="okp-branding-logo">
        <Image src={imgLogo} alt="" width="32" height="32" loading="eager" />
      </div>
      <span class="okp-branding-name" itemprop="name">Oykus</span>
    </a>
  </section>
  <section class="okp-menu">
    <nav>
      <ul>
        <li>
          <a href="/">À propos</a>
        </li>
        <li>
          <a href="/">Cynorrs</a>
        </li>
        <li>
          <a href="/">FAQ</a>
        </li>
        <li>
          <a href="/">Politique de confidentialité</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="okp-space"></section>
  <section>
    <ul>
      <li><House /></li>
    </ul>
  </section>
  <section>user</section>
</header>
