.okp-grid {
  display: block;
  width: 100%;
  max-width: 1024px;
  padding: 0 12px;
  margin: 0 auto;

  // xl: >= 1440px
  @media (max-width: 1439px) {
    max-width: 1024px;
  }

  // lg: >= 1024px
  @media (max-width: 1279px) {
    max-width: 768px;
  }

  // md: >= 768px
  @media (max-width: 1023px) {
    max-width: 600px;
  }

  // sm: >= 600px
  @media (max-width: 767px) {
    max-width: 480px;
  }

  // xs: < 600px
  @media (max-width: 599px) {
    max-width: 90%;
  }
}