html, body {
    background-color: var(--okp-bg);
    color: var(--okp-fg);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

body {
    font-size: 100%;
    line-height: 1.2;

    &::after {
        content: "";
        background-image: url("../img/noise.png");
        background-repeat: repeat;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 500;
        pointer-events: none;
        opacity: 0.4;
    }
}

#okp {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.okp-fullview {
    text-align: center;
    display: flex;
    height: calc(100vh - 64px);
    justify-content: center;
    align-items: center;
}
