:root {
    --okp-bg: #151413;
    --okp-fg: #BAB1A8;

    --okp-core-header-bg: #1E201F;
    --okp-core-header-fg: #BAB1A8;
    --okp-core-header-link: #BAB1A8;
    --okp-core-header-link-hover: #E7DCD2;
    --okp-core-header-mask-bg: #191919;
    --okp-core-header-mask-fg: #BAB1A8;

    --okp-card-bg: #191919;
    --okp-card-fg: #BAB1A8;

    --okp-scrollbar-bg: transparent;
    --okp-scrollbar-fg: #928B84;

    --okp-success: #5B8F33;
    --okp-error: #BC2A2B;

    --okp-tier1: #867b73; // Grey
    --okp-tier2: #377237; // Green
    --okp-tier3: #337099; // Blue
    --okp-tier4: #66309c; // Violet
    --okp-tier5: #996633; // Orange
    --okp-tier6: #993333; // Red
}