#okp-core-left {
  background-color: var(--okp-core-left-bg);
  box-shadow: var(--okp-boxshadow);
  color: var(--okp-core-left-text);
  overflow-x: hidden;
  display: flex;
  flex: 0 0 48px;
  flex-direction: column;
  width: 48px;
  height: calc(100vh - 48px);
  z-index: 50;
  transition: flex-basis 0.3s;

  .simplebar-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
  }

  .okp-left-auth {
    flex: 1 0 auto;

    &-display {
      min-height: 64px;
      position: relative;
      transition: min-height 0.3s;

      &-banner {
        background-color: var(--okp-core-left-mask-bg);
        height: 32px;
        position: relative;
        transition: width 0.3s, height 0.3s;

        &-img {
          width: 100%;
          height: 100px;
          object-fit: cover;
          opacity: 0.3;
          transition: opacity 0.3s;
        }
      }

      &-avatar {
        background-color: var(--okp-core-left-bg);
        border: 3px solid var(--okp-core-left-bg);
        border-radius: 50%;
        overflow: hidden;
        display: block;
        width: 42px;
        height: 42px;
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        transition: border-width 0.3s, width 0.3s, height 0.3s, top 0.3s;

        &-img {
          background-color: var(--okp-core-left-bg);
          border: 0 solid var(--okp-core-left-bg);
          border-radius: 50%;
          overflow: hidden;
        }

        &-abbr {
          background-color: var(--okp-core-left-mask-bg);
          border: 0 solid var(--okp-core-left-bg);
          border-radius: 50%;
          color: var(--okp-core-left-mask-text);
          font-family: "Hurricane", sans-serif;
          font-size: 0.8rem;
          line-height: 38px;
          text-align: center;
          display: block;
          width: 100%;
          height: 100%;
          transition: font-size 0.3s, line-height 0.3s;
        }
      }
    }
  }

  nav {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .okp-left-main,
    .okp-left-game,
    .okp-left-settings {
      width: 100%;
  
      > li {
        > a {
          background-color: transparent;
          border-radius: var(--okp-card-radius);
          color: var(--okp-core-left-text);
          font-size: 0.8rem;
          font-weight: 500;
          line-height: 120%;
          letter-spacing: 1px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          opacity: 0.7;
          padding: 6px;
          margin: 12px 6px;
          transition: background-color 0.3s, color 0.3s, opacity 0.3s, padding 0.3s, margin 0.3s;
  
          &:hover {
            background-color: var(--okp-core-left-highlight-bg);
            color: var(--okp-core-left-highlight-text);
            opacity: 1;

            .okp-icon {
              color: var(--okp-primary);
            }
  
            &:active {
              opacity: 0.5;
            }
          }

          .okp-icon {
            font-size: 0;
            line-height: 0;
            transition: color 0.3s;
          }
  
          .okp-text {
            overflow: hidden;
            display: block;
            width: 100%;
            padding: 0 0 0 12px;
            transition: width 0.1s, padding 0.1s;
          }
        }
      }
    }

    .okp-left-space {
      flex: 0 1 100px;
      width: 100%;
    }
  }

  &.okp-open {
    flex: 0 0 220px;

    .okp-left-auth {
      &-display {
        min-height: 150px;

        &-banner {
          height: 88px;

          &-img {
            opacity: 0.6;
          }
        }
  
        &-avatar {
          border-width: 3px;
          width: 100px;
          height: 100px;
          top: 32px;
  
          &-abbr {
            border-width: 3px;
            font-size: 1.5rem;
            line-height: 88px;
          }
        }
      }
    }

    .okp-left-main,
    .okp-left-game,
    .okp-left-settings {
      > li {
        > a {
          padding: 6px 12px;
          margin: 12px;
        }
      }
    }
  }
}