@use "../core/grid" as grid;

.okp-ui {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 90%;
  margin: 120px auto;

  @include grid.grid;

  article {
    margin: 32px 0;
  }

  &-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }
}
