:root {
  --okp-primary: #36433d;
  --okp-secondary: #3f3d3c;

  --okp-bg: #151413;
  --okp-fg: #bab1a8;

  --okp-layout-header-bg: #1e201f;
  --okp-layout-header-fg: #bab1a8;
  --okp-layout-header-link: #bab1a8;
  --okp-layout-header-link-hover: #e7dcd2;
  --okp-layout-header-mask-bg: #191919;
  --okp-layout-header-mask-fg: #bab1a8;

  --okp-card-bg: #191919;
  --okp-card-fg: #a8a098;
  --okp-card-radius: 0;

  --okp-form-bg: #1c1c1c;
  --okp-form-fg: #a8a098;

  --okp-scrollbar-bg: transparent;
  --okp-scrollbar-fg: #474543;

  --okp-info: #1d7197;
  --okp-success: #569725;
  --okp-warning: #c07e1b;
  --okp-error: #d11414;

  --okp-tier0: #3f3a37; // Darker Grey
  --okp-tier1: #867b73; // Grey
  --okp-tier2: #377237; // Green
  --okp-tier3: #337099; // Blue
  --okp-tier4: #996633; // Orange
  --okp-tier5: #66309c; // Violet
  --okp-tier6: #993333; // Red
}
