---
import type { Game } from "@/types/games.types";
import MainLayout from "@/layouts/MainLayout.astro";

interface Locals {
  api?: string;
}

const { api }: Locals = Astro.locals;

let hasError = null;
let games: Game[] = [];

try {
  const response = await fetch(`${api}/games/`);
  if (response.ok) {
    games = await response.json();
  } else {
    throw new Error("Failed to fetch data");
  }
} catch {
  hasError = true;
}
---

<MainLayout>
  {
    !hasError ? (
      <div class="okp-grid">
        <section class="okp-games-list">
          {games.map((game) => (
            <article class="okp-games-list-card">
              <a href={`/g/${game.slug}/`}>
                <header>
                  <h2>{game.name}</h2>
                </header>
              </a>
            </article>
          ))}
        </section>
      </div>
    ) : (
      <div>an error occurred</div>
    )
  }
</MainLayout>
