---
import OkpGamesList from "./GamesList.astro";
import OkpGamesCreate from "./react/Games/Create";

const { view } = Astro.props;
---

<section class="okp-grid">
    {view === "list" ? <OkpGamesList /> : (
        <OkpGamesCreate client:only="react" />
    )}
</section>
