---
import OkpGamesCreate from "./react/Games/Create";

const { view } = Astro.props;
---

<section class="okp-grid">
    {view === "list" ? <p>List</p> : (
        <OkpGamesCreate client:only="react" />
    )}
</section>
