.okp-btn {
  background-color: var(--okp-btn-bg);
  border-radius: var(--okp-btn-radius);
  color: var(--okp-btn-text);
  font-family: "OpenSans", sans-serif;
  font-size:0.9rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1px;
  opacity: 1;
  padding: 12px 32px;

  &:hover {
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }

  &-primary {
    background-color: var(--okp-btn-primary-bg);
    color: var(--okp-btn-primary-text);
  }
}