.okp-paginate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &-previous,
  &-pages,
  &-next {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;

    button {
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 4px;
      color: var(--okp-core-text);
      font-size: 0.9rem;
      line-height: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      padding: 3px 12px;
      margin: 0 2px;

      &:not(:disabled):not(.okp-active):hover {
        background-color: var(--okp-card-bg);
        color: var(--okp-card-text);
        // border: 1px solid var(--okp-core-text);
        cursor: pointer;
      }

      &.okp-active {
        background-color: var(--okp-card-bg);
        color: var(--okp-card-text);
        font-weight: 600;
      }
    }
  }

  &-previous,
  &-next {
    button {
      &:disabled {
        opacity: 0.5;
      }
    }
  }

  &-next {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;

    button {
      // border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}