@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

$htopbar: 48px;
$wnavbar: 64px;

:root {
  --okp-primary: #d2bd10;
  --okp-secondary: #ff0000;
  --okp-darken: #0d0d11;
  --okp-dark: #111217;
  --okp-mid: #161920;
  --okp-light: #1a1d26;
  --okp-lighten: #232531;
  --okp-text: #f4f4f4;
  --okp-text-low: #4b526e;
}

html {
  background-color: var(--okp-mid);
  color: var(--okp-text);
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--okp-mid);
  color: var(--okp-text);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}

a {
  color: var(--okp-text);

  &:hover {
    cursor: pointer;
  }
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ===---=== */

#okp-core-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 400px;
  height: calc(100vh - $htopbar);
}

#okp-core-main {
  display: block;
  flex: 1 1 100%;
  height: calc(100vh - $htopbar);
  transition: flex-basis 0.3s;
}

/* ===---=== */

@import "./grid.scss";
@import "./core/header.scss";
@import "./core/navbar.scss";
@import "./core/sidebar.scss";
