---
import { LoaderPinwheel } from "lucide-astro";

const spinner = "tripleline"; // tripleline | layers | squareline
---

<div class="okp-loading">
  <div class={`okp-loading-spinner okp-${spinner}`}></div>
</div>
