html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--okp-bg);
  color: var(--okp-fg);
  font-size: 16px;
  line-height: 1.2;
  font-family: "Nunito", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
  line-height: 1.2;
}

#okp {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.okp-fullview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  text-align: center;
}
