/* width */
::-webkit-scrollbar {
    width: 6px;
}

.simplebar-track.simplebar-vertical {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--okp-scrollbar-bg);
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--okp-scrollbar-fg);
    border-radius: 32px;
}
/* To handle height for vertical scrollbar, you can control the thumb height */
::-webkit-scrollbar-thumb {
    max-height: 200px; /* Minimum height of the thumb handle */
}

.simplebar-scrollbar::before {
    background-color: var(--okp-scrollbar-fg);
    left: 4px;
    right: 4px;
}

.okp-scrollable:hover .simplebar-scrollbar::before {
    opacity: 0.4;
    transition-delay: 0s;
    transition-duration: 0s;
}

.okp-scrollable:hover .simplebar-hover > .simplebar-scrollbar::before {
    opacity: 0.8;
}
