/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--okp-scrollbar-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background-color: var(--okp-scrollbar-fg);
}
/* To handle height for vertical scrollbar, you can control the thumb height */
::-webkit-scrollbar-thumb {
  max-height: 200px; /* Minimum height of the thumb handle */
}

.simplebar-track.simplebar-vertical {
  width: 16px;
}

.simplebar-scrollbar::before {
  right: 4px;
  left: 4px;
  background-color: var(--okp-scrollbar-fg);
}

.okp-scrollable:hover .simplebar-scrollbar::before {
  opacity: 0.4;
  transition-delay: 0s;
  transition-duration: 0s;
}

.okp-scrollable:hover .simplebar-hover > .simplebar-scrollbar::before {
  opacity: 0.8;
}
