:root {
  --okp-dark: #000000;
  --okp-light: #ffffff;

  --okp-primary: #d3b018;
  --okp-secondary: #3f3d3c;

  --okp-bg: #161B28;
  --okp-fg: #bfc4cf;

  --okp-layout-header-bg: #0B0E15;
  --okp-layout-header-fg: #7D808D;
  --okp-layout-header-link: #7D808D;
  --okp-layout-header-link-hover: #d3b018;
  --okp-layout-header-mask-bg: #191919;
  --okp-layout-header-mask-fg: #7D808D;

  --okp-card-bg: #1D2333;
  --okp-card-fg: #d6d9e0;
  --okp-card-radius: 0;

  --okp-form-bg: #1D2333;
  --okp-form-fg: #d6d9e0;

  --okp-scrollbar-bg: transparent;
  --okp-scrollbar-fg: #1D2333;

  --okp-info: #1d7197;
  --okp-success: #569725;
  --okp-warning: #c07e1b;
  --okp-error: #d11414;

  --okp-tier0: #3f3a37; // Darker Grey
  --okp-tier1: #867b73; // Grey
  --okp-tier2: #377237; // Green
  --okp-tier3: #337099; // Blue
  --okp-tier4: #996633; // Orange
  --okp-tier5: #66309c; // Violet
  --okp-tier6: #993333; // Red
}
