---
import { Bell, Mail, Smile } from "lucide";
import OkpIcon from "@/components/common/Icon.astro";
---

<header id="okp-core-header" role="navigation">
    <section class="okp-header-branding">
        <a href="/" class="okp-header-branding-link" role="link" aria-label="Oykus">
            <figure class="okp-header-branding-logo">
                <img src="/favicon.svg" alt="Oykus" />
            </figure>
            <span class="okp-header-branding-title">Oykus</span>
        </a>
    </section>
    <section class="okp-header-menu">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        Devblog
                    </a>
                </li>
                <li>
                    <a href="#">
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        Terms of Use
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="okp-header-spacer"></section>
    <section class="okp-header-notifications">
        <div>
            <button>
                <OkpIcon icon={Bell} />
            </button>
        </div>
        <div>
            <button>
                <OkpIcon icon={Mail} />
            </button>
        </div>
        <div>
            <button>
                <OkpIcon icon={Smile} />
            </button>
        </div>
    </section>
    <section class="okp-header-user">
        <div class="okp-header-user-dropdown">
            <button class="okp-header-user-button">
                <div class="okp-header-user-button-name">
                    <span>M-C Pronovost</span>
                    <small>mcpronovost@oykus.ca</small>
                </div>
                <figure class="okp-header-user-button-avatar">
                    {/* <img src="/images/avatar.png" alt="Avatar" /> */}
                </figure>
            </button>
        </div>
    </section>
</header>
