---
import "@/assets/styles/core.scss";
import { getLang, useTranslation } from "@/plugins/i18n";

const { title } = Astro.props;
const lang = getLang(Astro.url);
const t = useTranslation(lang);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title ? `${t(title)} - ` : ""}Oykus</title>
		<meta name="description" content="Astro description" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="@/assets/scripts/core.js" />
	</head>
	<body>
		<div id="okp">
			<div class="container">
				<div class="row">
					<div class="col-12">
						col-12
					</div>
					<div class="col-6">
						col-6
					</div>
					<div class="col-6">
						col-6
					</div>
					<div class="col-12">
						col-12
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
