---
import "@/assets/styles/core.scss";
import { getLang, useTranslation } from "@/plugins/i18n";
import imgFavicon from "@/assets/img/favicon.svg";

const { title } = Astro.props;
const lang = getLang(Astro.url);
const t = useTranslation(lang);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title ? `${t(title)} - ` : ""}Oykus</title>
		<meta name="description" content="Astro description" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href={imgFavicon.src} />
		<!-- Scripts -->
		<script src="@/assets/scripts/core.js" />
	</head>
	<body>
		<div id="okp">
			<nav id="okp-core-navbar">
				navbar
			</nav>
			<main id="okp-core-main">
				<slot />
			</main>
			<footer id="okp-core-footer">
				footer
			</footer>
		</div>
	</body>
</html>
