---
import type { Character } from "@/types/games.types";
import GameLayout from "@/layouts/GameLayout.astro";
import OkpHeader from "@/components/common/Header.astro";
import OkpAlertNotFound from "@/components/common/AlertNotFound.astro";

interface Locals {
  api?: string;
}

const { api }: Locals = Astro.locals;
const { slug, characterpk } = Astro.params;

let character: Character = {} as Character;

async function getCharacter () {
  try {
    const response = await fetch(`${api}/games/characters/${characterpk}/`);
    if (!response.ok) throw new Error("Failed to fetch data");

    character = await response.json();
    console.log(character);
    if (!character) throw new Error("Character not found");
  } catch {}
};

await getCharacter();
---

<GameLayout slug={slug}>
  <div class="okp-grid">
    <section class="okp-characters">
      {(character && character.id) ? (
        <div>
          <OkpHeader title={character.name} />
        </div>
      ) : (
        <OkpAlertNotFound title="Character Not Found" subtitle="The character you are looking for does not exist" />
      )}
    </section>
  </div>
</GameLayout>
