.okp-categories-card {
  header {
    margin: 24px 0;
  }

  &-title {
    font-family: "Quicksand", sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 1px;
  }
}