.okp-forum-sections {
  gap: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.okp-sections-card {
  background-color: var(--okp-core-siderigh-bg);
  flex: 1 1 auto;
  min-width: 250px;

  &-title {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
  }
}
