.okp-forum-section {
  .okp-forum-topics {
    gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .okp-topics-card {
      background-color: var(--okp-card-bg);
      border-radius: var(--okp-card-radius);
      color: var(--okp-card-text);
      font-size: 0;
      line-height: 0;
      flex: 1 1 auto;
      min-width: 250px;
    
      &-authors {
        border-top-left-radius: var(--okp-card-radius);
        border-top-right-radius: var(--okp-card-radius);
        height: 84px;
        position: relative;
  
        &-banner {
          background-color: var(--okp-card-mask-bg);
          border-top-left-radius: var(--okp-card-radius);
          border-top-right-radius: var(--okp-card-radius);
          overflow: hidden;
          height: 72px;
          position: relative;
  
          &-img {
            width: 100%;
            height: 72px;
            object-fit: cover;
            opacity: 0.5;
            filter: blur(4px) grayscale(0.5);
          }
  
          &-abbr {
            display: none;
          }
        }
  
        &-avatar {
          background-color: var(--okp-card-bg);
          border: 2px solid var(--okp-card-bg);
          border-radius: 50%;
          overflow: hidden;
          display: block;
          width: 90px;
          height: 90px;
          position: absolute;
          top: -6px;
          left: 50%;
          transform: translateX(-50%);
  
          &-img {
            background-color: var(--okp-card-bg);
            border: 2px solid var(--okp-card-bg);
            border-radius: 50%;
            overflow: hidden;
            transition: opacity 0.3s;
          }
  
          &-abbr {
            background-color: var(--okp-card-mask-bg);
            border: 2px solid var(--okp-card-bg);
            border-radius: 50%;
            color: var(--okp-card-mask-text);
            font-family: "Hurricane", sans-serif;
            font-size: 1.5rem;
            line-height: 82px;
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
            transition: opacity 0.3s;
          }
        }

        &-linklastmessage {
          display: block;
          width: 86px;
          height: 86px;
          position: relative;
          transition: opacity 0.3s;

          &:hover {
            .okp-topics-card-authors-avatar-img,
            .okp-topics-card-authors-avatar-abbr {
              opacity: 0.3;
            }

            .okp-topics-card-authors-golastmessage {
              opacity: 1;
            }
          }
        }

        &-golastmessage {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.3s;
        }
      }
    }
  }
}
