---
import { Construction } from "lucide-astro";

interface Props {
  title?: string;
  subtitle?: string;
}

const { title, subtitle }: Props = Astro.props;
---

<section class="okp-forum-notfound">
  <div class="okp-forum-notfound-wrapper">
    <Construction class="icon" aria-hidden="true" />
    <div class="okp-forum-notfound-content">
      {(title) && (<h2>{title}</h2>)}
      {(subtitle) && (<p>{subtitle}</p>)}
    </div>
  </div>
</section>
