.rc-scrollbars-container {
  .rc-scrollbars-track {
    .rc-scrollbars-thumb {
      background-color: transparent !important;
      transition: background 0.3s;
    }
  }

  &:hover {
    > .rc-scrollbars-track {
      .rc-scrollbars-thumb {
        background-color: var(--okp-scrollbar) !important;
      }
    }
  }
}
