.okp-userbanner {
    width: 100%;
    position: relative;

    .okp-banner {
        background-color: var(--okp-primary);
        overflow: hidden;
        width: 100%;
        height: 72px;

        .okp-banner-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 120px;
            opacity: 0.75;
            filter: grayscale(0.75);
        }
    }

    .okp-avatar {
        background-color: var(--okp-core);
        border-radius: 50%;
        width: 120px;
        height: 120px;
        position: absolute;
        top: calc(50% - 6px);
        left: 50%;
        transform: translateX(-50%);

        &::after {
            content: "";
            border: 6px solid var(--okp-core);
            border-radius: 50%;
            display: block;
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
        }

        > img,
        > .okp-icon {
            border-radius: 50%;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        > .okp-icon {
            background-color: var(--okp-primary);
            color: var(--okp-core);
            font-size: 60px;
            line-height: 120px;
            text-align: center;
        }
    }
}