.okp-forum-section-topics {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;

  .okp-forum-section-topic {
    box-sizing: border-box;
    display: flex;
    flex: 1 0 auto;
    width: 25%;
    min-width: 300px;
    padding: 12px;

    &-card {
      background-color: var(--okp-light);
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      transition: filter 0.3s;
      padding: 12px;

      &::before {
        content: "";
        border: 2px solid var(--okp-light);
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: filter 0.3s;
      }

      &:hover {
        filter: brightness(1.1);
        cursor: pointer;

        &::before {
          filter: brightness(1.1);
        }
      }
    }
  }
}
