.okp-forum-write-topic {
  &-card {
    @include okp-card;
    padding: 32px;
    margin: 0 0 12px;
  }

  &-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}
