---
import type { Lang } from "@/types/i18n.types";
import type { Category } from "@/types/forums.types";
import { AlertCircle } from "lucide-astro";
import { getTranslation } from "@/i18n/i18n";
import ForumHeader from "./common/Header.astro";
import SectionCard from "./SectionCard.astro";

interface Locals {
  lang: Lang;
}

interface Props {
  category: Category;
  singleton?: boolean;
}

const { lang }: Locals = Astro.locals;
const { category, singleton }: Props = Astro.props;
const t = getTranslation(lang);
---

<article class="okp-forum-category">
  <ForumHeader
    title={category.name}
    description={category.description}
    path={singleton ? null : category.path}
  />
  <section class="okp-forum-sections">
    {
      category.sections?.length ? (
      category.sections.map((item) => <SectionCard lang={lang} section={item} />)
      ) : (
        <div class="okp-forum-notfound" style="padding: 12px;">
          <div class="okp-forum-notfound-wrapper">
            <AlertCircle class="icon" />
            <h2>{t("No Categories Found")}</h2>
            <p>{t("It seems there are no categories available at the moment.")}</p>
          </div>
        </div>
      )
    }
  </section>
</article>
