---
import type { Topic } from "@/types/forums.types";
import type { Lang } from "@/types/i18n.types";
import ForumHeader from "@/components/forum/common/Header.astro";
import OkpMessagesList from "@/components/forum/react/MessagesList.jsx";
import Loading from "@/components/common/Loading.astro";

interface Props {
  lang: Lang;
  topic: Topic;
}

const { slug } = Astro.params;
const { lang, topic }: Props = Astro.props;
---

<article class="okp-forum-topic">
  <ForumHeader title={topic.name} />
  <section class="okp-forum-messages">
    <OkpMessagesList lang={lang} slug={slug} topic={topic} client:only="react" />
  </section>
</article>
