.okp-forum-categories {
  display: block;
}

.okp-forum-category {
  .okp-forum-sections {
    font-size: 0;
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
    margin: -12px;

    .okp-sections-card {
      text-align: center;
      display: flex;
      flex: 1 1 200px;
      flex-direction: column;
      align-items: center;
      min-width: 200px;
      padding: 12px;

      &-wrapper {
        background-color: var(--okp-card-bg);
        border-radius: var(--okp-card-radius);
        color: var(--okp-card-text);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      @media (min-width: 1280px) {
        &.okp-basis-100 {
          flex: 0 0 100%;
        }
        &.okp-basis-75 {
          flex: 0 0 75%;
        }

        &.okp-basis-66 {
          flex: 0 0 calc((100% / 3) * 2);
        }

        &.okp-basis-50 {
          flex: 0 0 calc(50%);
        }

        &.okp-basis-33 {
          flex: 0 0 calc((100% / 3));
        }

        &.okp-basis-25 {
          flex: 0 0 calc(50%);
        }
      }

      &-banner {
        border-top-left-radius: var(--okp-card-radius);
        border-top-right-radius: var(--okp-card-radius);
        overflow: hidden;
        width: 100%;
        height: 100px;

        &-figure {
          border-top-left-radius: var(--okp-card-radius);
          border-top-right-radius: var(--okp-card-radius);
          overflow: hidden;
          width: 100%;
          height: 100%;

          &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.9;
            filter: grayscale(0.5);
          }
        }
      }
    
      &-lastmessage {
        border-top-left-radius: var(--okp-card-radius);
        border-top-right-radius: var(--okp-card-radius);
        width: 100%;
        height: 84px;
        position: relative;
  
        &-avatar {
          background-color: var(--okp-card-bg);
          border: 2px solid var(--okp-card-bg);
          border-radius: 50%;
          overflow: hidden;
          display: block;
          width: 90px;
          height: 90px;
          position: absolute;
          top: -6px;
          left: 50%;
          transform: translateX(-50%);
  
          &-img {
            background-color: var(--okp-card-bg);
            border: 2px solid var(--okp-card-bg);
            border-radius: 50%;
            overflow: hidden;
            transition: opacity 0.3s;
          }
  
          &-abbr {
            background-color: var(--okp-card-mask-bg);
            border: 2px solid var(--okp-card-bg);
            border-radius: 50%;
            color: var(--okp-card-mask-text);
            font-family: "Hurricane", sans-serif;
            font-size: 1.5rem;
            line-height: 82px;
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
            transition: opacity 0.3s;
          }
        }

        &-link {
          border-radius: 50%;
          display: block;
          width: 86px;
          height: 86px;
          position: relative;
          transition: opacity 0.3s;

          &:hover {
            .okp-sections-card-lastmessage-avatar-img,
            .okp-sections-card-lastmessage-avatar-abbr {
              opacity: 0.3;
            }

            .okp-sections-card-lastmessage-golast {
              opacity: 1;
            }
          }
        }

        &-golast {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.3s;
        }

        &.okp-with-banner {
          height: 52px;

          .okp-sections-card-lastmessage-avatar {
            top: -40px;
          }
        }
      }

      &-header {
        text-align: center;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-title {
          font-size: 0.9rem;
          font-weight: 600;
          line-height: 120%;
          display: flex;
          width: 100%;
          flex: 1 1 auto;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 6px;

          > a {
            color: var(--okp-topic-title-text);
            display: block;
            width: 100%;
            padding: 4px;
            transition: color 0.3s;

            &:hover {
              color: var(--okp-topic-title-hover);
            }
          }
        }
      }

      &-footer {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        opacity: 0.7;
        padding: 6px;

        &-lastmessage {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          > a {
            color: var(--okp-topic-title-text);
            transition: color 0.3s;

            &:hover {
              color: var(--okp-topic-title-hover);
            }
          }
        }
      }
    }
  }
}
