.okp-auth-games-edit {
  margin: 32px 0;

  &-banner {
    height: 100%;

    .ant-card-body {
      align-items: center;
      justify-content: center;
      padding: 12px;
    }
  
    &-cover {
      height: 150px;
      width: 100%;
      object-fit: cover;

      &-upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;

        &-icon {
          margin: 0 0 6px;
        }

        &-title {
          font-size: 1rem;
        }

        &-description {
          font-size: 0.7rem;
          opacity: 0.6;
        }
      }
    }

    &-logo {
      position: absolute;
    }

    &-title {
      font-family: "Quicksand", sans-serif;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      padding: 12px 0;
      margin: 12px 0 0;
    }

    &-subtitle {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.2;
      text-align: center;
      opacity: 0.6;
      padding: 0 0 12px;
    }
  }

  &-general {
    &-title {
      font-family: "Quicksand", sans-serif;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 0 0 24px;
    }
  }
}
