$primary: #699212;
$secondary: #334D90;
$darken: #151A27;
$dark: #161B28;
$mid: #1D2333;
$light: #21283B;
$lighten: #454D62;
$text: #FEFEFE;

$htopbar: 64px;
$wnavbar: 64px;

:root {
  --okp-primary: #699212;
  --okp-secondary: #334D90;
  --okp-darken: #151A27;
  --okp-dark: #161B28;
  --okp-mid: #1D2333;
  --okp-light: #21283B;
  --okp-lighten: #454D62;
  --okp-text: #FEFEFE;
}

body {
  background: $dark;
  color: $text;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: $text;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.okp-core-header {
  background-color: $secondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $htopbar;

  .okp-brand {
    color: $text;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: opacity 0.3s;

    .okp-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: $wnavbar;
      height: $wnavbar;
    }

    .okp-name {
      font-size: 1.1rem;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:active {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.okp-core-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
  height: calc(100vh - $htopbar);
}

.okp-core-main {
  overflow-y: auto;
  display: block;
  flex: 1 1 auto;
  height: calc(100vh - $htopbar);
}

.okp-core-righbar {
  background-color: $mid;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: $wnavbar;
  height: calc(100vh - $htopbar);
}

@import "core/leftbar.scss";
