$htopbar: 48px;
$wnavbar: 64px;

:root {
  --okp-primary: #5B7934;
  --okp-secondary: #36597C;
  --okp-darken: #151518;
  --okp-dark: #1C1C20;
  --okp-mid: #232327;
  --okp-light: #2B2B30;
  --okp-lighten: #37373D;
  --okp-text: #ECECEC;
}

body {
  background: var(--okp-dark);
  color: var(--okp-text);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: var(--okp-text);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.okp-core-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
  height: calc(100vh - $htopbar);
}

.okp-core-main {
  overflow-y: auto;
  display: block;
  flex: 1 1 auto;
  height: calc(100vh - $htopbar);
}

@import "grid.scss";
@import "core/header.scss";
@import "core/leftbar.scss";
@import "core/righbar.scss";
