.okp-avatar {
  box-sizing: content-box;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px;
  transition: width 0.3s, height 0.3s, top 0.3s;

  &-figure {
    background-color: #1E1E1E;
    border-radius: 50%;
    box-sizing: content-box;
    box-shadow: 0 0 1px 8px #191919;
    outline: 8px solid #191919;
    color: #1E1E1E;
    overflow: hidden;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: width 0.3s, height 0.3s;
  }

  &-fallback {
    font-family: "Quicksand", system-ui, Helvetica, Arial, sans-serif;
    font-size: max(1rem, 1.23rem + 2cqi);
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    user-select: none;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
  }
}
