.okp-avatar {
  box-sizing: content-box;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px;

  &-figure {
    background-color: var(--okp-card-bg-subtle);
    border-radius: 50%;
    box-sizing: content-box;
    outline: 8px solid var(--okp-card-bg);
    color: var(--okp-card-fg-subtle);
    overflow: hidden;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    container-type: size;
  }

  &-fallback {
    font-size: max(1rem, 1.23rem + 2cqi);
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    user-select: none;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
  }
}
