.okp-banner {
  background: var(--okp-card-bg-subtle);
  border-top-left-radius: var(--okp-radius);
  border-top-right-radius: var(--okp-radius);
  overflow: hidden;
  width: 100%;
  height: 120px;
  transition: width 0.3s, height 0.3s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
