.okp-breadcrumb {
  font-size: 0.8rem;
  line-height: 1.2;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 12px 0;

  &-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0;

    &-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &-icon {
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }
}
