.okp-button {
  --okp-button-bg-opacity: 100%;
  --okp-button-bg-plain: var(--okp-card-bg);
  --okp-button-bg: color-mix(in srgb, var(--okp-button-bg-plain) var(--okp-button-bg-opacity), transparent);
  --okp-button-border-width: 0;
  --okp-button-border-style: solid;
  --okp-button-border-color: var(--okp-card-fg-subtle);
  --okp-button-color: var(--okp-card-fg-subtle);

  background-color: var(--okp-button-bg);
  border-width: var(--okp-button-border-width);
  border-style: var(--okp-button-border-style);
  border-color: var(--okp-button-border-color);
  border-radius: var(--okp-radius);
  color: var(--okp-button-color);
  font-family: var(--okp-font-family);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  height: auto;
  position: relative;
  padding: 16px 24px;

  &-variant {
    &-default {
      --okp-button-bg-opacity: 100%;
      --okp-button-border-width: 0;
      --okp-button-border-style: solid;
    }

    &-outline {
      --okp-button-bg-opacity: 10%;
      --okp-button-border-width: 1px;
      --okp-button-border-style: solid;
    }
  }

  &-colour {
    &-default {
      --okp-button-bg-plain: color-mix(in srgb, var(--okp-card-bg) 50%, var(--okp-card-bg));
      --okp-button-border-color: color-mix(in srgb, var(--okp-card-fg-subtle) 50%, var(--okp-card-bg));
      --okp-button-color: var(--okp-card-fg-subtle);
    }

    &-primary {
      --okp-button-bg-plain: color-mix(in srgb, var(--okp-primary) 50%, var(--okp-card-bg));
      --okp-button-border-color: color-mix(in srgb, var(--okp-primary) 50%, var(--okp-card-bg));
      --okp-button-color: var(--okp-primary);
    }

    &-success {
      --okp-button-bg-plain: color-mix(in srgb, var(--okp-success) 50%, var(--okp-card-bg));
      --okp-button-border-color: color-mix(in srgb, var(--okp-success) 50%, var(--okp-card-bg));
      --okp-button-color: var(--okp-success);
    }

    &-error {
      --okp-button-bg-plain: color-mix(in srgb, var(--okp-error) 50%, var(--okp-card-bg));
      --okp-button-border-color: color-mix(in srgb, var(--okp-error) 50%, var(--okp-card-bg));
      --okp-button-color: var(--okp-error);
    }
  }

  &-size {
    &-default {
      font-size: 1rem;
      line-height: 1;
      padding: 16px 24px;
    }

    &-small {
      font-size: 0.875rem;
      line-height: 1;
      padding: 8px 12px;
    }
  }

  &-content {
    filter: brightness(1.4);
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
    transform: scale(0.98);
  }
}