.okp-button {
  --okp-button-bg-opacity: 100%;
  --okp-button-bg-plain: var(--okp-card-bg);
  --okp-button-bg: color-mix(in srgb, var(--okp-button-bg-plain) var(--okp-button-bg-opacity), transparent);
  --okp-button-border-width: 0;
  --okp-button-border-style: solid;
  --okp-button-border-color: var(--okp-card-fg-subtle);
  --okp-button-color: var(--okp-card-fg-subtle);

  background-color: var(--okp-button-bg);
  border-width: var(--okp-button-border-width);
  border-style: var(--okp-button-border-style);
  border-color: var(--okp-button-border-color);
  border-radius: var(--okp-radius-subtle);
  color: var(--okp-button-color);
  font-family: var(--okp-font-family);
  font-size: 1rem;
  font-weight: 600;
  line-height: 0;
  text-align: center;
  display: inline-block;
  height: auto;
  position: relative;
  padding: 12px 24px;

  &-variant {
    &-default {
      --okp-button-bg-opacity: 100%;
      --okp-button-border-width: 0;
    }

    &-outline {
      --okp-button-bg-opacity: 10%;
      --okp-button-border-width: 1px;
    }

    &-soft {
      --okp-button-bg-opacity: 50%;
      --okp-button-border-width: 1px;
    }
  }

  &-colour {
    &-default {
      --okp-button-bg-plain: var(--okp-card-bg);
      --okp-button-border-color: color-mix(in srgb, var(--okp-card-fg-subtle) 50%, var(--okp-card-bg));
      --okp-button-color: var(--okp-card-fg-subtle);
    }

    &-primary {
      --okp-button-bg-plain: color-mix(in srgb, var(--okp-primary) 50%, var(--okp-card-bg));
      --okp-button-border-color: color-mix(in srgb, var(--okp-primary) 50%, var(--okp-card-bg));
      --okp-button-color: var(--okp-primary);
    }

    &-secondary {
      --okp-button-bg-plain: color-mix(in srgb, var(--okp-secondary) 50%, var(--okp-card-bg));
      --okp-button-border-color: color-mix(in srgb, var(--okp-secondary) 50%, var(--okp-card-bg));
      --okp-button-color: var(--okp-secondary);
    }

    &-success {
      --okp-button-bg-plain: color-mix(in srgb, var(--okp-success) 50%, var(--okp-card-bg));
      --okp-button-border-color: color-mix(in srgb, var(--okp-success) 50%, var(--okp-card-bg));
      --okp-button-color: var(--okp-success);
    }

    &-error {
      --okp-button-bg-plain: color-mix(in srgb, var(--okp-error) 50%, var(--okp-card-bg));
      --okp-button-border-color: color-mix(in srgb, var(--okp-error) 50%, var(--okp-card-bg));
      --okp-button-color: var(--okp-error);
    }
  }

  &-size {
    &-default {
      font-size: 1rem;
      line-height: 1;
      padding: 12px 24px;
    }

    &-small {
      font-size: 0.875rem;
      line-height: 1;
      padding: 8px 12px;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: brightness(1.4);

    &-text {
      white-space: wrap;
    }

    &-prepend,
    &-append {
      display: flex;
      align-content: center;
      justify-content: center;

      svg {
        width: 1em;
        height: 1em;
      }
    }

    &-prepend {
      margin-right: 8px;
    }

    &-append {
      margin-left: 8px;
    }

    &-loading {
      display: inline-block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &-icon {
        animation: spin 1s linear infinite;

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          50% {
            opacity: 0.5;
          }
          100% {
            transform: rotate(-360deg);
          }
        }
      }
    }
  }

  &-loading {
    pointer-events: none;

    .okp-button-content-prepend,
    .okp-button-content-append,
    .okp-button-content-text {
      opacity: 0.2;
    }
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
    transform: scale(0.98);
  }
}