.okp-heading {
  margin: 32px 0;

  &::after {
    content: "";
    background-color: var(--c-primary);
    display: block;
    width: 64px;
    height: 2px;
    margin: 24px 0 32px;
  }

  &-title {
    font-family: "Quicksand", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }

  &-description {
    margin: 0.5rem 0.1em;

    p {
      font-size: 1rem;
    }
  }
}
