.okp-loading {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px;

  &-spinner {
    &.okp-squares {
      display: inline-block;
      width: 48px;
      height: 48px;
      position: relative;

      &::after,
      &::before {
        content: "";
        border: 2px solid var(--c-secondary);
        box-sizing: border-box;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 0;
        left: 0;
        animation: rotation 2s ease-in-out infinite;
      }

      &::after {
        border-color: var(--c-primary);
        animation-delay: 1s;
      }
    }

    &.okp-layers {
      background: var(--c-secondary);
      color: var(--c-primary);
      position: relative;
      width: 48px;
      height: 48px;
      transform: rotateX(65deg) rotate(45deg);
      animation: okploadinglayers1 1s linear infinite alternate;

      &:after {
        content: "";
        background-color: var(--c-primary);
        inset: 0;
        position: absolute;
        opacity: 0.5;
        animation: okploadinglayer2 1s linear infinite alternate;
      }
    }

    &.okp-circles {
      border: 3px solid;
      border-color: var(--c-primary) var(--c-primary) transparent
        transparent;
      border-radius: 50%;
      box-sizing: border-box;
      display: inline-block;
      width: 48px;
      height: 48px;
      position: relative;
      animation: okploadingtriplerotation 1s linear infinite;

      &::after,
      &::before {
        content: "";
        border: 3px solid;
        border-color: transparent transparent var(--c-secondary)
          var(--c-secondary);
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform-origin: center center;
        margin: auto;
        animation: okploadingtriplerotationBack 0.5s linear infinite;
      }
      &::before {
        border-color: var(--c-primary) var(--c-primary) transparent
          transparent;
        width: 32px;
        height: 32px;
        animation: rotation 1.5s linear infinite;
      }
    }
  }
}

@keyframes okploadingspinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes okploadinglayers1 {
  0% {
    box-shadow: 0px 0px 0 0px;
  }
  90%,
  100% {
    box-shadow: 20px 20px 0 -4px;
  }
}
@keyframes okploadinglayer2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-25px, -25px) scale(1);
  }
}

@keyframes okploadingtriplerotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes okploadingtriplerotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
