---
import MainLayout from "@/layouts/MainLayout.astro";
import { Construction } from "lucide-astro";
---

<MainLayout>
    <div class="okp-grid">
      <section class="okp-forum">
        <div class="okp-forum-notfound">
          <Construction class="icon" />
          <h2>Under Construction</h2>
          <p>This section is currently being built</p>
        </div>
      </section>
    </div>
</MainLayout>
