---
import type { Lang } from "@/_libs/types/i18n.types.ts";
import "simplebar-react/dist/simplebar.min.css";
import "@/_assets/css/main.scss";

interface Props {
  title?: string;
  description?: string;
  theme?: string;
}

const { title, description, theme }: Props = Astro.props;
const lang = Astro.cookies.get("lang")?.value as Lang ?? "fr";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title ? `${title} - Oykus` : "Oykus"}</title>
    <meta name="description" content={description || title} />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="mcpronovost" />
    <meta name="theme-color" content="#c9cfd1" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" sizes="512x512" href="/android-chrome-512x512.png" type="image/png" />
    <link rel="icon" sizes="192x192" href="/android-chrome-192x192.png" type="image/png" />
    <link rel="icon" sizes="32x32" href="/favicon-32x32.png" type="image/png" />
    <link rel="icon" sizes="16x16" href="/favicon-16x16.png" type="image/png" />
  </head>
  <body id="okp" style={theme} itemscope itemtype="https://schema.org/Game">
    <slot />
  </body>
</html>
