@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans/OpenSans-variable.ttf") format("truetype-variations");
  font-weight: 300 800;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand/Quicksand-variable.ttf") format("truetype-variations");
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: "Hurricane";
  src: url("/fonts/Hurricane/Hurricane.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --okp-primary: #d3b018;

  --okp-boxshadow: 0 0 6px rgba(0, 0, 0, 0.2);

  --okp-core-bg: #c9cfd1;
  --okp-core-text: #435259;

  // core
  --okp-core-head-bg: #435259;
  --okp-core-head-text: #c9cfd1;

  --okp-core-sideleft-bg: #dbe0e2;
  --okp-core-sideleft-text: #435259;
  --okp-core-sideleft-mask-bg: #869195;
  --okp-core-sideleft-mask-text: #dbe0e2;
  --okp-core-sideleft-highlight-bg: #435259;
  --okp-core-sideleft-highlight-text: #dbe0e2;

  --okp-core-siderigh-bg: #dbe0e2;
  --okp-core-siderigh-text: #435259;

  // header
  --okp-header-title: #435259;
  --okp-header-subtitle: #869195;
  --okp-header-separator: #869195;

  // card
  --okp-card-bg: #dbe0e2;
  --okp-card-text: #435259;
  --okp-card-subtle: #869195;
  --okp-card-mask-bg: #869195;
  --okp-card-mask-text: #dbe0e2;
  --okp-card-radius: 4px;

  // button
  --okp-btn-bg: #dbe0e2;
  --okp-btn-text: #435259;
  --okp-btn-radius: 4px;

  --okp-btn-primary-bg: #435259;
  --okp-btn-primary-text: #dbe0e2;

  // scrollbar
  --okp-scrollbar-bg: rgba(0, 0, 0, 0.1);
  --okp-scrollbar-fg: #435259;
}

html, body {
  background-color: var(--okp-core-bg);
  color: var(--okp-core-text);
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#okp {
  display: flex;
  flex-direction: column;
}

#okp-core-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

#okp-core-main {
  overflow-x: hidden;
  flex: 1 1 auto;
  height: calc(100vh - 48px);
}
