#okp-core-header {
  background-color: var(--okp-core-header);
  border-bottom: 1px solid var(--okp-line);
  color: var(--okp-core-header-text);
  display: flex;
  flex: 0 0 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: relative;
  z-index: 110;

  > nav {
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 125%;
    text-transform: uppercase;
    display: flex;

    > ul {
      list-style: none;
      position: relative;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;

      > li {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0;
        margin: 0;

        > a {
          color: var(--okp-text-dark);
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          gap: 12px;
          padding: 0;

          &:hover {
            color: var(--okp-text);
          }
        }
      }

      &#okp-core-header-logo {
        > li {
          &.okp-logo {
            font-family: Quicksand, "Open Sans", sans-serif;
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.3em;
  
            a {
              background-color: var(--okp-primary);
              color: var(--okp-text);
              width: 50px;
              height: 50px;
              transition: opacity 0.3s;
              padding: 0;
  
              &:hover {
                opacity: 0.7;
              }
            }
          }

          &.okp-name {
            font-size: 0;
            line-height: 0;
            margin-left: 16px;
  
            a {
              color: var(--okp-text);
              font-family: Quicksand, "Open Sans", sans-serif;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 100%;
              text-transform: uppercase;
              letter-spacing: 0.3em;
              transition: opacity 0.3s;
  
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }

    &#okp-core-header-nav-main {
      > ul {
        > li {
          > a {
            padding: 12px;
          }
        }
      }
    }

    &#okp-core-header-nav-user {
      > ul {
        > li {
          > a {
            &.okp-icon {
              font-size: 1rem;
              font-weight: 400;
              line-height: 100%;
              width: 50px;
              height: 50px;

              &:hover {
                background-color: var(--okp-core);
              }
            }

            &.okp-dot::after {
              content: "";
              background-color: var(--okp-primary);
              border: 3px solid var(--okp-core-header);
              border-radius: 50%;;
              display: block;
              width: 6px;
              height: 6px;
              position: absolute;
              top: calc(50% - 6px);
              left: calc(50% - 6px);
              transform: translate(0.6em, -0.5em);
            }
  
            &:hover {
              &.okp-dot::after {
                border-color: var(--okp-core);
              }
            }
          }

          button {
            color: var(--okp-text-dark);
            font-size: 0;
            line-height: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            gap: 12px;
            padding: 12px;

            .okp-avatar {
              background-color: var(--okp-core-light);
              border-radius: 50%;
              overflow: hidden;
              flex: 0 0 32px;
              width: 32px;
              height: 32px;
              opacity: 0.7;
              transition: opacity 0.3s;

              .okp-icon {
                background-color: var(--okp-primary);
                color: var(--okp-core-dark);
                font-size: 1rem;
                font-weight: 400;
                line-height: 32px;
                text-align: center;
                display: block;
                width: 32px;
                height: 32px;
                opacity: 0.7;
              }
            }
  
            &:hover {
              color: var(--okp-text);

              .okp-avatar {
                opacity: 1;
              }
            }

            .okp-user {
              text-align: left;
              display: flex;
              flex-direction: column;

              .okp-username {
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 125%;
              }
            }

            .okp-toggle {
              font-size: 0.5rem;
              font-weight: 400;
              line-height: 100%;
              width: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #okp-core-header {
    > nav {
      &#okp-core-header-nav-main {
        > ul {
          &#okp-core-header-logo {
            margin-right: 6px;

            > li {
              &.okp-name {
                display: none;
              }
            }
          }

          
          
          &#okp-core-header-games {
            display: none;
          }
        }
      }

      &#okp-core-header-nav-user {
        > ul {
          > li {
            button {
              .okp-user,
              .okp-toggle {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
