#okp-core-navbar {
  background-color: var(--okp-core-navbar);
  border-right: 1px solid var(--okp-line);
  color: var(--okp-core-navbar-text);
  font-size: 0;
  line-height: 0;
  display: flex;
  flex: 0 0 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  order: 1;
  position: relative;
  padding: 0;
  margin: 0;

  #okp-core-navbar-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
  
    > ul {
      list-style: none;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: 100%;
      padding: 12px 0;
      margin: 0;

      > li {
        list-style: none;
        width: 100%;
        position: relative;
        padding: 0;
        margin: 0;

        > a,
        > button {
          background-color: var(--okp-core-light);
          border: none;
          border-radius: 50%;
          color: var(--okp-text-dark);
          font-size: 1rem;
          line-height: 100%;
          display: flex;
          width: 32px;
          height: 32px;
          transition: all 0.3s;
          padding: 0;
          margin: 0 auto;

          &.okp-active,
          &:hover {
            background-color: var(--okp-primary);
            border-radius: 6px;
            color: var(--okp-text-light);
          }

          &::after {
            content: "";
            background-color: var(--okp-primary);
            border-radius: 6px;
            display: block;
            width: 3px;
            height: 0;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            margin: auto;
            transition: all 0.3s;
          }
    
          &.okp-active::after,
          &:hover::after {
            height: 100%;
            opacity: 1;
          }

          .okp-icon {
            font-size: 16px;
            line-height: 32px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
          }
        }
      }

      &#okp-core-navbar-nav-main {
        gap: 32px;
      }

      &#okp-core-navbar-nav-footer {
        background-color: var(--okp-bg);
        border-top: 1px solid var(--okp-line);
        flex: 0 1 auto;

        > li {
          > a {
            background-color: transparent;

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #okp-core-navbar {
    border-top: 1px solid var(--okp-line);
    border-right: none;
    order: 2;
    flex-basis: 50px;

    #okp-core-navbar-wrapper {
      flex-direction: row;
      height: 100%;

      > ul {
        border: none;
        flex-direction: row;
        flex: 1 1 100%;
        justify-content: space-evenly;
        gap: 16px;
        height: 100%;
        padding: 0 12px;

        > li {
          width: auto;

          > a {
            &::after {
              display: none;
            }
          }
        }

        &#okp-core-navbar-nav-footer {
          display: none;
        }
      }
    }
  }
}
