---
import type { LangType, ManagementListGameType } from "@/services/utils/types";
import { Eye, Trash2 } from "lucide";
import { gamesApi } from "@/services/api";
import { getTranslation } from "@/services/i18n";
import { getRoute } from "@/services/router";
import OkpIcon from "@/components/common/Icon.astro";

const { lang } = Astro.params as { lang: LangType };
const { t } = getTranslation(lang);
const { r } = getRoute(lang);
---

<section class="okp-grid">
    <header class="okp-header">
        <h1 class="okp-header-title">A Game</h1>
    </header>
</section>
