#okp-layout-header {
  display: flex;
  z-index: 1000;
  position: relative;
  flex: 0 0 64px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  background-color: var(--okp-layout-header-bg);
  color: var(--okp-layout-header-fg);

  .okp-header-branding {
    display: block;
    flex: 0 0 250px;

    &-link {
      color: var(--okp-primary);
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 8px;
      gap: 12px;
    }

    &-logo {
      display: block;
      flex: 0 0 auto;
      width: 48px;
      height: 48px;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border-radius: 50%;
      font-size: 0;
      line-height: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title {
      display: block;
      margin-bottom: -0.15em;
      font-weight: 800;
      font-size: 2rem;
      line-height: 1;
      font-family: "SofiaSans", sans-serif;
      text-transform: uppercase;
    }
  }

  .okp-header-menu {
    flex: 0 0 auto;

    & > nav {
      & > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        list-style: none;

        a {
          display: block;
          padding: 16px 16px;
          color: var(--okp-layout-header-link);
          font-weight: 400;
          font-size: 0.8rem;
          font-family: "Nunito", sans-serif;
          transition: color 0.3s;

          &:hover {
            color: var(--okp-layout-header-link-hover);

            &:active {
              transform: scale(0.96);
              opacity: 0.7;
            }
          }
        }
      }
    }
  }

  .okp-header-spacer {
    flex: 1 1 auto;
  }

  .okp-header-notifications {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;

    button {
      width: 64px;
      height: 64px;
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      color: var(--okp-layout-header-link);
      transition:
        background-color 0.3s,
        color 0.3s;

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--okp-layout-header-link) 5%,
          transparent
        );
        color: var(--okp-layout-header-link-hover);
        cursor: pointer;

        &:active {
          opacity: 0.7;
        }
      }
    }
  }

  .okp-header-user {
    flex: 0 0 auto;

    &-button {
      box-sizing: content-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: auto;
      height: 64px;
      margin: 0 0 0 64px;
      padding: 0;
      border: none;
      background: none;
      color: var(--okp-layout-header-link);
      transition:
        background-color 0.3s,
        color 0.3s;

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--okp-layout-header-link) 5%,
          transparent
        );
        color: var(--okp-layout-header-link-hover);
        cursor: pointer;

        &:active {
          opacity: 0.7;
        }
      }

      &-name {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 0 12px 0 24px;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1;
        font-family: "Poppins", sans-serif;
        text-align: right;

        small {
          font-weight: 400;
          font-size: 0.7rem;
          line-height: 1;
          opacity: 0.7;
        }
      }

      &-avatar {
        display: block;
        flex: 0 0 auto;
        width: 48px;
        height: 48px;
        margin: 8px;
        padding: 0;
        overflow: hidden;
        border-radius: 12px;
        background-color: var(--okp-layout-header-mask-bg);
        font-size: 0;
        line-height: 0;
        opacity: 0.7;

        img {
          display: block;
          width: 48px;
          height: 48px;
          object-fit: contain;
        }
      }
    }

    &-dropdown {
      position: relative;
    }

    &-menu {
      position: absolute;
      top: 64px;
      right: 0;
      left: 0;
      background-color: var(--okp-layout-header-bg);
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
      color: var(--okp-layout-header-fg);
    }
  }

  .okp-header-auth {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 64px;
    gap: 8px;

    &-login,
    &-register {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 12px;

      > span {
        display: block;
        font-family: "Nunito", sans-serif;
      }
    }

    &-login {
      padding: 16px 24px;
      color: var(--okp-layout-header-link);
      font-weight: 600;
      font-size: 0.9rem;
      transition: color 0.3s;

      &:hover {
        color: var(--okp-layout-header-link-hover);

        &:active {
          transform: scale(0.96);
        }
      }
    }

    &-register {
      display: block;
      margin-right: 12px;
      padding: 10px 32px;
      border-radius: 6px;
      background: color-mix(
        in srgb,
        var(--okp-success) 45%,
        var(--okp-card-bg)
      );
      color: color-mix(in srgb, var(--okp-success) 90%, var(--okp-card-fg));
      font-weight: 700;
      font-size: 0.9rem;
      transition:
        background-color 0.3s,
        color 0.3s;

      &:hover {
        background: color-mix(
          in srgb,
          var(--okp-success) 25%,
          var(--okp-card-bg)
        );
        color: color-mix(in srgb, var(--okp-success) 50%, var(--okp-card-fg));

        &:active {
          transform: scale(0.96);
        }
      }
    }
  }
}
