:root {
  --c-primary: #d3b017;
  --c-secondary: #808080;
  --c-success: #338a36;
  --c-error: #af3333;

  --okp-bg: #212121;
  --okp-fg: #A7A8AA;
  --okp-fg-subtle: #787979;

  --okp-link: var(--c-primary);

  --okp-card-bg: #191919;
  --okp-card-bg-subtle: #1E1E1E;
  --okp-card-fg: #838385;
  --okp-card-fg-subtle: #575759;

  --okp-font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --okp-font-family-heading: "Quicksand", system-ui, Avenir, Helvetica, Arial, sans-serif;

  --okp-radius: 8px;
  --okp-radius-subtle: 6px;

  --okp-game-header-font-family: var(--okp-font-family-heading);
  --okp-game-header-font-size: 4rem;

  background-color: var(--okp-bg);
  color: var(--okp-card-fg);
  
  font-family: var(--okp-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    opacity: 0.8;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

#okp {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
