:root {
  --okp-primary: #d3b017;
  --okp-secondary: #808080;

  --okp-font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --okp-font-family-title: "Quicksand", system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #242424;
  color: #e3e3e3;
  
  font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: inherit;

  &:hover {
    color: #c4c4c4;
  }
}

#okp {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
