// Grid mixin to handle max-widths for each breakpoint
@mixin grid {
  width: 100%;
  max-width: 900px;

  @media (max-width: 1200px) {
    max-width: 896px;
  }

  @media (max-width: 960px) {
    max-width: 656px;
  }

  @media (max-width: 720px) {
    max-width: 476px;
  }

  @media (max-width: 540px) {
    max-width: 360px;
  }

  @media (max-width: 360px) {
    max-width: 280px;
  }
}
