---
import type { Category } from "@/types/forums.types";
import GameLayout from "@/layouts/GameLayout.astro";
import ForumCategory from "@/components/forum/Category.astro";

interface Locals {
  api?: string;
}

const { api }: Locals = Astro.locals;
const { slug } = Astro.params;

let hasError = null;
let categories: Category[] = [];

async function getForumCategories () {
  try {
    const response = await fetch(`${api}/forums/${slug}/categories/`);
    if (response.ok) {
      categories = await response.json();
    } else {
      throw new Error("Failed to fetch data");
    }
  } catch {
    hasError = true;
  }
};

await getForumCategories();

---

<GameLayout slug={slug}>
  <div class="okp-grid">
    <section class="okp-forum">
      <section class="okp-forum-categories">
        {(categories && categories.length) ? categories.map((item) => (
          <ForumCategory category={item} />
        )) : (
          <div>empty</div>
        )}
      </section>
    </section>
  </div>
</GameLayout>
