@use "../../core/_grid" as grid;
@use "./forum/categoryList" as game-forum-categoryList;
@use "./forum/categoryCard" as game-forum-categoryCard;
@use "./forum/sectionList" as game-forum-sectionList;
@use "./forum/sectionCard" as game-forum-sectionCard;
@use "./forum/topicList" as game-forum-topicList;
@use "./forum/topicCard" as game-forum-topicCard;
@use "./forum/postList" as game-forum-postList;
@use "./forum/postCard" as game-forum-postCard;

.okp-game {
  &-header {
    &-default {
      text-align: center;
      margin-top: 24px;

      @include grid.grid;

      &-title {
        font-family: "Quicksand", sans-serif;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.4;
        margin: 0 0 8px;
      }
    }
  }

  &-footer {
    padding: 120px 0 32px;

    small {
      font-size: 0.8rem;
      font-weight: 300;
      line-height: 1.5;
      text-align: center;
      display: block;
      opacity: 0.9;
    }
  }

  .okp-forum-topic {
    @include grid.grid;
  }
}
