.okp-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 32px 0;
  padding: 0;

  &-title {
    max-width: 600px;
    font-size: 4rem;
    line-height: 0.9;
    font-family: "SofiaSans", sans-serif;
  }
}
