#okp-core-head {
  background-color: var(--okp-core-head-bg);
  box-shadow: var(--okp-boxshadow);
  color: var(--okp-core-head-text);
  display: flex;
  max-height: 48px;
  flex: 0 0 48px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;

  .okp-branding {
    flex: 0 0 200px;

    &-link {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }

    &-logo {
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      width: 32px;
      height: 32px;
      margin: 8px;
    }

    &-name {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .okp-toggle {
    margin: 0 12px;

    button {
      opacity: 0.6;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  .okp-menu {
    font-size: 0.8rem;

    nav, ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    > nav > ul {
      display: flex;
      flex-direction: row;

      > li > a {
        opacity: 0.6;
        padding: 6px 12px;
        transition: opacity 0.3s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .okp-space {
    flex: 1 1 auto;
  }

  .okp-notifications {
    display: flex;
    flex-direction: row;
    margin: 0 32px;

    &-alerts,
    &-privates,
    &-friends {
      width: 48px;
      height: 48px;
      cursor: pointer;
      margin: 0 6px;

      .okp-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        position: relative;

        > div {
          position: relative;
        }
      }
      
      &:hover .okp-wrapper::before {
        content: "";
        background-color: var(--okp-core-head-text);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.1;
      }
    }
  }

  .okp-auth {
    &-user {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      &-playername {
        margin: 0 12px;
      }

      &-avatar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;

        figure {
          background-color: var(--okp-core-head-mask-bg);
          border-radius: 50%;
          color: var(--okp-core-head-mask-text);
          overflow: hidden;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;

          span {
            font-size: 12px;
            line-height: 32px;
            text-align: center;
          }
        }
      }
    }
  }
}