---
import type { LangType } from "@/services/utils/types";
import { getTranslation } from "@/services/i18n";

const { lang } = Astro.params as { lang: LangType };
const { t } = getTranslation(lang);
---

<section class="okp-grid">
    <header class="okp-header">
        <h1 class="okp-header-title">{t("FAQ")}</h1>
    </header>
    <div>
        <p>Under construction</p>
    </div>
</section>
