.okp-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  padding: 0 32px;
  margin: 0 auto;

  @media (max-width: 1400px) {
    max-width: 1024px;
  }

  @media (max-width: 1200px) {
    max-width: 800px;
  }

  @media (max-width: 992px) {
    max-width: 640px;
  }

  @media (max-width: 768px) {
    max-width: 416px;
  }

  @media (max-width: 576px) {
    max-width: 100%;
  }
}
