@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

$htopbar: 48px;
$wnavbar: 64px;

:root {
  --okp-primary: #806243;
  --okp-secondary: #435159;
  --okp-tertiary: #DBDFE1;
  --okp-success: #346032;
  --okp-warning: #623e29;
  --okp-danger: #712020;

  --okp-bg: #C9CED1;
  --okp-card: #DBDFE1;

  --okp-lighten: #EDEFF0;
  --okp-light: #E4E7E9;
  --okp-mid: #DBDFE1;
  --okp-dark: #B5BCBF;
  --okp-darken: #69757B;

  --okp-text: #435159;
  --okp-text-low: #899295;

  --okp-shadow-blur: 6px;
  --okp-shadow-colour: rgba(0, 0, 0, 0.04);
  --okp-radius: 6px;

  --c-oahu: #48B2E0;
}

html {
  background-color: var(--okp-bg);
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--okp-bg);
  color: var(--okp-text);
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}

a {
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure,
section,
article {
  display: block;
  padding: 0;
  margin: 0;
}

hr {
  background-color: transparent;
  border: none;
  border-top: 1px dashed var(--okp-text-low);
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 12px 0;
}

/* ===---=== */

#okp-core-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 400px;
  height: calc(100vh - $htopbar);
}

#okp-core-main {
  display: block;
  flex: 1 1 100%;
  height: calc(100vh - $htopbar);
  transition: flex-basis 0.3s;
}

.okp-fullview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - $htopbar);
}

/* ===---=== */

@import "./mixins.scss";
@import "./grid.scss";

@import "./core/header.scss";
@import "./core/navbar.scss";
@import "./core/sidebar.scss";

@import "./common/header.scss";
@import "./common/breadcrumbs.scss";
@import "./common/button.scss";
@import "./common/loading.scss";

@import "./forum/categories.scss";
@import "./forum/sections.scss";
@import "./forum/topics.scss";
@import "./forum/messages.scss";
@import "./forum/writetopic.scss";
