@mixin okp-card {
  background-color: var(--okp-card);
  border: none;
  border-block: none;
  border-inline: none;
  border-radius: var(--okp-radius);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
