---
import ForumHeader from "@/components/forum/common/Header.astro";
import SectionCard from "@/components/forum/SectionCard.astro";

const { slug } = Astro.params;
const { category, singleton } = Astro.props;
---

<article class="okp-forum-category">
  <ForumHeader
    title={category.name}
    description={category.description}
    path={singleton ? null : category.path}
  />
  <section class="okp-forum-sections">
    {
      category.sections && category.sections.length ? (
        category.sections.map((item) => <SectionCard section={item} />)
      ) : (
        <div>-</div>
      )
    }
  </section>
</article>
