---
import type { Category } from "@/types/forums.types";
import ForumHeader from "./common/Header.astro";
import SectionCard from "./SectionCard.astro";

interface Props {
  category: Category;
  singleton?: boolean;
}

const { category, singleton }: Props = Astro.props;
---

<article class="okp-forum-category">
  <ForumHeader
    title={category.name}
    description={category.description}
    path={singleton ? null : category.path}
  />
  <section class="okp-forum-sections">
    {
      category.sections && category.sections.length ? (
        category.sections.map((item) => <SectionCard section={item} />)
      ) : (
        <div>-</div>
      )
    }
  </section>
</article>
