---
import ForumHeader from "@/components/forum/common/Header.astro";
import OkpTopicCard from "@/components/forum/TopicCard.astro";

const { slug } = Astro.params;
const { section } = Astro.props;
---

<article class="okp-forum-section">
  <ForumHeader title={section.name} />
  <section class="okp-forum-topics">
    {
      section.topics && section.topics.length ? (
        section.topics.map((item, i) => <OkpTopicCard topic={item} index={i} total={section.topics.length} />)
      ) : (
        <div>-</div>
      )
    }
  </section>
</article>
