---
const { section } = Astro.props;
---

<article class="okp-sections-card">
  <header>
    <h2 class="okp-sections-card-title">
      <a href={`${section.path}`}>{section.name}</a>
    </h2>
  </header>
</article>
