---
import type { CategorySection } from "@/types/forums.types";

interface Props {
  section: CategorySection;
} 

const { section }: Props = Astro.props;
---

<article class="okp-sections-card okp-animate-boxup">
  <header>
    <h2 class="okp-sections-card-title">
      <a href={`${section.path}`}>{section.name}</a>
    </h2>
  </header>
</article>
