---
import { Image } from "astro:assets";
import { CircleArrowOutDownRight, Clock, MessagesSquare } from "lucide-astro";
import imgAvatar from "@/assets/img/mc.jpg";

const { topic } = Astro.props;
---

<article class="okp-topics-card okp-animate-boxup">
  <section class="okp-topics-card-authors">
    <figure class="okp-topics-card-authors-banner">
      {true ? (
        <Image src={imgAvatar} alt="" class="okp-topics-card-authors-banner-img" />
      ) : (
        <span class="okp-topics-card-authors-banner-abbr">MC</span>
      )}
    </figure>
    <figure class="okp-topics-card-authors-avatar">
      <a href={`${topic.path}`} class="okp-topics-card-authors-linklastmessage">
        <CircleArrowOutDownRight size={32} alt="Aller au dernier message" class="okp-topics-card-authors-golastmessage" />
        {true ? (
          <Image src={imgAvatar} alt="" class="okp-topics-card-authors-avatar-img" aria-hidden="true" />
        ) : (
          <span class="okp-topics-card-authors-avatar-abbr" aria-hidden="true">MC</span>
        )}
      </a>
    </figure>
  </section>
  <header class="okp-topics-card-header">
    <div class="okp-topics-card-header-date">
      <span>31 octobre 2024</span>
    </div>
    <h3 class="okp-topics-card-header-title">
      <a href={`${topic.path}`}>{topic.name.length > 64 ? `${topic.name.substring(0, 64)}...` : topic.name}</a>
    </h3>
  </header>
  <footer class="okp-topics-card-footer">
    <time class="okp-topics-card-footer-date">
      <span class="okp-icon"><Clock size={14} /></span>
      <span class="okp-text">31 octobre 2024</span>
    </time>
    <div class="okp-topics-card-footer-total">
      <span class="okp-text">31</span>
      <span class="okp-icon"><MessagesSquare size={14} /></span>
    </div>
  </footer>
</article>
