---
import ForumHeader from "@/components/forum/common/Header.astro";
import MessageCard from "@/components/forum/MessageCard.astro";
import OkpMessagesList from "@/components/forum/react/MessagesList.jsx";
import Loading from "@/components/common/Loading.astro";

const { slug } = Astro.params;
const { topic } = Astro.props;
---

<article class="okp-forum-topic">
  <ForumHeader title={topic.name} />
  <section class="okp-forum-messages">
    <OkpMessagesList slug={slug} topic={topic} client:only="react">
      <Loading slot="fallback" />
    </OkpMessagesList>
  </section>
</article>
