---
import { Test1, Test2 } from "@/components/react/applications";

const { lang } = Astro.params;
---

<h1>Contact {lang}</h1>

<Test1 client:only="react" />

<p>aaa</p>

<Test2 client:only="react" />
