@use "../core/_card" as card;

.okp-forum-topic-card {
  display: flex;
  flex: 1 1 25%;
  // max-width: 25%;
  padding: 12px;

  &.okp-flex-100 {
    flex-basis: 100%;
    max-width: 100%;
  }

  &.okp-flex-50 {
    flex-basis: 50%;
    max-width: 50%;
  }

  &.okp-flex-33 {
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
  }

  @media (max-width: 720px) {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }

  &-box {
    @include card.card;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    &-banner {
      margin-bottom: 48px;
    }

    &-avatar {
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-footer {
    color: var(--okp-card-fg-subtle);
    font-size: 0.8rem;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;

    &-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &-date,
      &-count {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      &-date {
        text-align: left;
      }

      &-count {
        text-align: right;
      }
    }
  }
}
