@use "../core/grid" as grid;

.okp-forum-topic {
  &-permissions {
    margin: 32px 0;
  }

  &-reply {
    margin: 32px 0;

    &-card {
      background-color: var(--okp-card-bg);
      border-radius: 8px;
      padding: 32px;
      margin: 32px 0;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
