.okp-tag {
    background: var(--okp-card-bg);
    border-left: 0px solid currentcolor;
    border-right: 0px solid transparent;
    color: var(--okp-card-fg);
    font-size: 1rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;

    &.okp-success {
        background: color-mix(in srgb, var(--okp-success) 15%, var(--okp-card-bg));
        border-left-color: var(--okp-success);
        color: color-mix(in srgb, var(--okp-success) 50%, var(--okp-card-fg));
    }

    &.okp-error {
        background: color-mix(in srgb, var(--okp-error) 15%, var(--okp-card-bg));
        border-left-color: var(--okp-error);
        color: color-mix(in srgb, var(--okp-error) 50%, var(--okp-card-fg));
    }

    &-type {
        &-tier0 {
            background: color-mix(in srgb, var(--okp-tier0) 15%, var(--okp-card-bg));
            border-left-color: var(--okp-tier0);
            color: color-mix(in srgb, var(--okp-tier0) 50%, var(--okp-card-fg));
        }

        &-tier1 {
            background: color-mix(in srgb, var(--okp-tier1) 15%, var(--okp-card-bg));
            border-left-color: var(--okp-tier1);
            color: color-mix(in srgb, var(--okp-tier1) 50%, var(--okp-card-fg));
        }
    
        &-tier2 {
            background: color-mix(in srgb, var(--okp-tier2) 15%, var(--okp-card-bg));
            border-left-color: var(--okp-tier2);
            color: color-mix(in srgb, var(--okp-tier2) 50%, var(--okp-card-fg));
        }
    
        &-tier3 {
            background: color-mix(in srgb, var(--okp-tier3) 15%, var(--okp-card-bg));
            border-left-color: var(--okp-tier3);
            color: color-mix(in srgb, var(--okp-tier3) 50%, var(--okp-card-fg));
        }
    
        &-tier4 {
            background: color-mix(in srgb, var(--okp-tier4) 15%, var(--okp-card-bg));
            border-left-color: var(--okp-tier4);
            color: color-mix(in srgb, var(--okp-tier4) 50%, var(--okp-card-fg));
        }
    
        &-tier5 {
            background: color-mix(in srgb, var(--okp-tier5) 15%, var(--okp-card-bg));
            border-left-color: var(--okp-tier5);
            color: color-mix(in srgb, var(--okp-tier5) 50%, var(--okp-card-fg));
        }
    
        &-tier6 {
            background: color-mix(in srgb, var(--okp-tier6) 15%, var(--okp-card-bg));
            border-left-color: var(--okp-tier6);
            color: color-mix(in srgb, var(--okp-tier6) 50%, var(--okp-card-fg));
        }
    }

    &-size {
        &-sm {
            font-size: 0.8rem;
            line-height: 1;
            padding: 4px 8px;
        }
    }
}
